@use "../../scss" as *;



.logo {
    padding: 1rem;
    
    img{
        width: 15rem;
        height: 3rem;
    }    

}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height .3s ease, background-color .3s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: rgba(0, 0, 0, .8);
        backdrop-filter: blur(5px);

    }

    &__wrap {
        @include flex(center, space-between);
        padding: 0 2rem;

        @include mobile {
            justify-content: center
        }
    }

    &__nav {
        @include flex(center, unset);

        & > * ~ * {
            margin-left: 2rem;
        }
        
        li {
            font-weight: 500;
            transition: .2s;
            position: relative;
            
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-color;
            }
            &.active::after, &:hover::after {
                width: 100%;
            }
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 2rem;
            background-color: $body-bg;
            padding: 0 3rem;
            box-shadow: $box-shadow;

            @include flex(center, space-between);

            & > * ~ * {
                margin-left: 0;
            }
        }

    }
}